/* inter-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v12-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

:root,
:root::before,
:root::after {
    font-size: 62.5%;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --primary-color: #0057B0;
    --secondary-color: #0094E4;
    --tertiary-color: #6BCB77;

    --light-color: white;
    --default-color: var(--primary-color);
    --dark-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 2rem;
    color: var(--light-color);
}

button {
    background-color: var(--light-color);
    color: var(--primary-color);
    border: .25rem solid var(--light-color);
    border-radius: 1rem;
    padding: 1.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem 0;
}

button:hover,
button.btn_primary:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: .25rem solid var(--light-color);
    transition-duration: .38s;
    transition-delay: .11s;
}

button.btn_secondary {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: .25rem solid var(--light-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

a.link_primary {
    color: var(--primary-color);
}

a.link_secondary {
    color: var(--light-color);
    text-decoration: underline;
    text-underline-offset: .4rem;
}

a.link_secondary_not_underlined {
    color: var(--light-color);
    text-decoration: none;
    text-underline-offset: .4rem;
}

a.link_secondary:hover, a.link_secondary_not_underlined:hover {
    color: var(--secondary-color);
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}

hr {
    border: none;
    height: .1rem;
    color: var(--light-color); /* old IE */
    background-color: var(--light-color); /* Modern Browsers */
}

select, select option {
    text-transform: capitalize;
    outline: none !important;
}

select {
    width: 15rem;
    height: 4rem;
    font-size: 1.6rem;
    background-color: #f2f2f2;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    padding: .8rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.capitalized-text {
    text-transform: capitalize;
}

/* ASIDE */

.top_right_fixed {
    position: fixed;
    right: 0;
    padding: 0 1rem;
    color: var(--light-color);
    font-size: 1.2em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* HEADER */

#main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 25vh;
    padding: 5rem 5rem;
    background-color: var(--light-color);
}

#main-header__logo > img {
    border: .30rem solid var(--primary-color);
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

#main-header > h1 {
    font-weight: 400;
    font-size: 6rem;
    color: var(--primary-color);
    margin-left: 3rem;
}


#main_header__nav-menu > menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 2.7rem;
    font-weight: 500;
}

#main_header__nav-menu > menu > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 0;
    padding-left: 3rem;
    text-transform: capitalize;
}

#main_header__nav-menu > menu > li:first-child {
    padding-left: 0;
    margin-left: 3rem;
}

/* MAIN-SECTION */

#main-section {
    flex-grow: 1;
    border-top: 2px solid #ccc;
    /*background-color: var(--primary-color);*/
    background-image: linear-gradient(to top, #0057b0, #0158b6, #0558bc, #0b59c1, #1359c7);
    line-height: 4.6rem;
    padding: 5rem calc(1rem + 10vw);
}

#main-section > h2 {
    font-size: 3rem;
    margin: 4rem 0 4rem 0;
}

#main-section > section > p:first-of-type {
    margin-top: 3rem;
}

#main_section__contact_me__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#buttons_showcase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
    row-gap: 4rem;
    column-gap: 3rem;
}

#buttons_showcase > button {
    min-width: 35rem;
    min-height: 30rem;
}

/* FOOTER */

footer {
    border-top: 2px solid #ccc;
    background-color: var(--light-color);
    height: 15rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    body {
        font-size: 1.75rem;
    }

    header#main-header {
        flex-direction: column;
    }

    #main-header__logo > img {
        width: 11rem;
        height: 11rem;
        border: .2rem solid var(--primary-color);
    }

    header#main-header > h1 {
        font-size: 4rem;
        padding: 5rem 0;
        margin: 0;
    }

    header#main-header > h1 {
        font-size: 2.7rem;
        padding: 2.5rem 0;
        margin: 0;
    }

    #main_header__nav-menu > menu {
        flex-direction: column;
        font-size: 1.9rem;
        font-weight: 500;
    }

    #main_header__nav-menu > menu > li {
        padding: .6rem 0;
    }

    #main_header__nav-menu > menu > li:first-child {
        margin-left: 0;
    }

    #main_section__contact_me__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    #buttons_showcase {
        flex-direction: column;
        justify-content: space-around;
    }

    #buttons_showcase > button {
        min-width: 10rem;
        min-height: 10rem;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 768px) {
    body {
        font-size: 1.85rem;
    }

    header#main-header {
        flex-direction: column;
    }

    #main-header__logo > img {
        width: 12rem;
        height: 12rem;
        border: .25rem solid var(--primary-color);
    }

    header#main-header > h1 {
        font-size: 3.5rem;
        padding: 3rem 0;
        margin: 0;
    }

    #main_header__nav-menu > menu {
        flex-direction: column;
        font-size: 2.1rem;
        font-weight: 500;
    }

    #main_header__nav-menu > menu > li {
        padding: .6rem 0;
    }

    #main_header__nav-menu > menu > li:first-child {
        margin-left: 0;
    }

    #main_section__contact_me__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    #buttons_showcase {
        flex-direction: column;
        justify-content: space-around;
    }

    #buttons_showcase > button {
        min-height: 12.5rem;
    }
}

/* For Small PC */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        font-size: 1.9rem;
    }

    header#main-header {
        flex-direction: column;
    }

    #main-header__logo > img {
        width: 13rem;
        height: 13rem;
    }

    header#main-header > h1 {
        font-size: 4.25rem;
        padding: 3rem 0;
        margin: 0;
    }

    #main_header__nav-menu > menu {
        font-size: 2.5rem;
        font-weight: 500;
    }

    #buttons_showcase {
        flex-direction: column;
        justify-content: space-around;
    }

    #buttons_showcase > button {
        min-height: 15rem;
    }

}

/* For Medium PC */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
    body {
        font-size: 1.95rem;
    }

    header#main-header {
        flex-direction: column;
    }

    #main-header__logo > img {
        width: 14rem;
        height: 14rem;
    }

    header#main-header > h1 {
        font-size: 5.5rem;
        padding: 3rem 0;
        margin: 0;
    }

    #main_header__nav-menu > menu {
        font-size: 2.8rem;
        font-weight: 500;
    }

    #buttons_showcase > button {
        min-height: 25rem;
    }
}
